@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Londrina+Shadow&family=Merienda:wght@800&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.font{
  font-family: 'Londrina Shadow', cursive;
}

.title{
  font-family: 'Merienda', cursive;
}




/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Alkatra', cursive;
  }
}